.menu-principal {
    background: #edeef0;
    margin-top: 2%;
    height: 100%;
}

.items-new {
    margin-top: 3%;
    margin-left: 2%;
    width: 95%;
}

.items-text {
    margin-left: 5%;
    font-size: 80%
}

.items-img {
    width: 30%;
    height: 100%;
}