.bepoint-food {
    margin-right: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
    float: right;
    width: 20%;
}

.footer {
    height: 20%;
    background-color: #007ba4;
}

.img-rds {
    width: 30%;
    margin-top: 9%;
    margin-left: 35%;
}