.margin {
    margin-top: 40%;
}

.title {
    text-align: center;
    font-size: 200%;
}

.subtitle {
    text-align: center;
    margin-top: 15%;
}

.subtitle2 {
    text-align: center;
}

.input-login {
    background-color: #ADAFB0;
    color: white;
    align-content: center;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
}

.button {
    margin-left: 5%;
    margin-right: 5%;
}

.bepoint-food {
    float: right;
    margin-right: 35%;
    margin-bottom: 5%;
}

.posicion-login {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

.button_ingreso {
    height: -webkit-fill-available;
}

.input_rut {
    font-size: 100%;
    margin-top: 4%;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}