.margin {
    margin-top: 40%;
}

.title {
    font-family: 'Istok Web', sans-serif;
    text-align: center;
}

.input-login {
    background-color: #ADAFB0;
    color: white;
    align-content: center;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
}

.button {
    margin-left: 5%;
    margin-right: 5%;
}