<ion-header>
</ion-header>

<ion-content slot="start">
    <img class="margin" src="assets/img/logo.png">
    <BR>

    <ion-card type="ios">
        <ion-card-header class="title">
            <ion-card-title>Ingresa a tu Perfil</ion-card-title>
        </ion-card-header>

        <ion-card-content class="input-login" position="floating">
            <ion-input [(ngModel)]="rut" slot="start" placeholder="INGRESA TU RUT"></ion-input>
        </ion-card-content>

        <ion-card>
            <ion-card-title> IMEI : {{ device_id }}</ion-card-title>
            <!-- <ion-card-title> Trabajador : {{ trabajador }}</ion-card-title>
            <ion-card-title> IMEI trabajador : {{ device_id_trabajador }}</ion-card-title> -->
        </ion-card>

    </ion-card>

    <ion-button (click)="GetLogin()" routerLinkActive="router-link-active" class="button" color="success" expand="block">Ingresar</ion-button>
    <!-- <ion-button routerLink="/home" routerLinkActive="router-link-active" class="button" color="success" expand="block">Ingresar</ion-button> -->


</ion-content>