<div class="menu-principal">
    <img class="posicion-login" src="assets/img/logobepoint1.png">
    <ion-title class="title">Ingresar a <a>BEPOINT GESTION</a></ion-title>
    <ion-input class="input-login" [(ngModel)]="rut" placeholder="RUT USUARIO"></ion-input>
    <ion-input class="input-login2" type="password" [(ngModel)]="pass" placeholder="CONTRASENA"></ion-input>
    <!-- <button ion-button class="button" color="white" routerLink="/home">ENTRAR</button> -->
    <button ion-button class="button" color="white" (click)="GetLogin()">ENTRAR</button>
    <img class="icon-rs" src="assets/img/iconosredes2.png">
</div>