<ion-header>

</ion-header>

<ion-content slot="start">
    <img class="margin" src="https://static.wixstatic.com/media/5f8ad3_2c0fbede1fc04ffba53e5d9be011b4e7~mv2.png/v1/fill/w_560,h_224,al_c,q_80,usm_0.66_1.00_0.01/5f8ad3_2c0fbede1fc04ffba53e5d9be011b4e7~mv2.webp">
    <BR>

    <ion-card type="ios">
        <ion-card-header class="title">
            <ion-card-title>Ingresa a tu Perfil</ion-card-title>
        </ion-card-header>

        <ion-card-content class="input-login" position="floating">
            <ion-input slot="start" placeholder="INGRESA TU RUT"></ion-input>
            <ion-input slot="start" placeholder="CLAVE DE ACCESO"></ion-input>
        </ion-card-content>

    </ion-card>

    <ion-button routerLink="/home" routerLinkActive="router-link-active" class="button" color="success" expand="block">Ingresar</ion-button>


</ion-content>