.menu-principal {
    background-color: #b3d7ff;
    height: 100%;
}

.menu-texto-title {
    font-size: 400%;
    color: red;
    text-align: center;
}

.menu-texto {
    text-align: center;
    color: red;
}

.button_cerrar {
    margin-left: 25%;
    width: 50%;
    margin-top: 10%;
}

.posicion-avatar {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

.avatar {
    vertical-align: middle;
    width: 50%;
    border-radius: 100%;
    margin-left: 25%;
    margin-top: 29%;
}

.icon-rs {
    width: 30%;
    margin-top: 20%;
    margin-left: 35%;
}

.button {
    border-radius: 25px;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    height: 9%;
    background-color: white;
    color: #4d6a8a;
}