.menu-principal {
    height: 100%;
    background-color: #b3d7ff;
}

.menu-texto {
    text-align: center;
    margin-top: 10%;
}

.button_cerrar {
    margin-left: 25%;
    width: 50%;
    margin-top: 10%;
}

.posicion-avatar {
    width: 60%;
    margin-left: 10%;
    margin-top: 10%;
}

.avatar {
    vertical-align: middle;
    width: 60%;
    border-radius: 30%;
    margin-left: 20%;
    margin-top: 10%;
}

.footer {
    height: 20%;
    background-color: #007ba4;
}

.titulo {
    margin-top: 5%;
    color: white;
    margin-left: 2%;
}

.button {
    border-radius: 25px;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    height: 9%;
    background-color: white;
    color: #4d6a8a;
}