<ion-header>
    <ion-toolbar>
        <!-- <img src="assets/img/volver.png"> -->
        <img src="assets/img/headfiscalizacion.png">
    </ion-toolbar>
</ion-header>



<div class="menu-principal">

    <!-- <img class="avatar" src="assets/img/fiscalizaciontiempo.gif">-->
    <img class="avatar" id="img_control" src="{{myimage}}">


    <ion-title class="titulo">USUARIO:<a> EMMANUEL VILLAR</a> </ion-title>
    <!-- <ion-card-subtitle>DESTINO : SOTERO DEL RIO</ion-card-subtitle> -->
    <button ion-button (click)="Buscarbeacons()" class="button" color="white">COMENZAR FISCALIZACION</button>
    <button ion-button (click)="CancelarBusqueda()" class="button" color="white">CANCENAR FISCALIZACION</button>


</div>


<app-footer class="footer"></app-footer>