<app-header></app-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Noticias</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>

    <!-- <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Sus Turnos Son:</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://licencias.serviciosmerlo.net/images/turno.png">
                </ion-avatar>
                <ion-label>Lunes: </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://licencias.serviciosmerlo.net/images/turno.png">
                </ion-avatar>
                <ion-label>Martes: </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://licencias.serviciosmerlo.net/images/turno.png">
                </ion-avatar>
                <ion-label>Miercoles: </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://licencias.serviciosmerlo.net/images/turno.png">
                </ion-avatar>
                <ion-label>Jueves: </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://licencias.serviciosmerlo.net/images/turno.png">
                </ion-avatar>
                <ion-label>Viernes: </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://licencias.serviciosmerlo.net/images/turno.png">
                </ion-avatar>
                <ion-label>Sabado: </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://licencias.serviciosmerlo.net/images/turno.png">
                </ion-avatar>
                <ion-label>Domingo: </ion-label>
            </ion-item>

        </ion-card-content>
    </ion-card>-->





</ion-content>
<app-footer></app-footer>