<app-header></app-header>

<ion-content [scrollEvents]="true">
    <ion-card *ngFor="let item of items">
        <ion-card-header>
            <ion-card-subtitle>{{ item.titulo }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-label>{{ item.descripcion }}</ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom" type="ios">
        <ion-tab-button routerLink="/home" routerLinkActive="router-link-active">
            <ion-label>Home</ion-label>
            <ion-icon name="home"></ion-icon>
            <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button (click)="presentAlertConfirm()">
            <ion-label>Acceso</ion-label>
            <ion-icon name="pin"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/inspection" routerLinkActive="router-link-active">
            <ion-label>Rondas</ion-label>
            <ion-icon name="git-compare"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/turns" routerLinkActive="router-link-active">
            <ion-label>Turno</ion-label>
            <ion-icon name="filing"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/beacon">
            <ion-label>Beacon</ion-label>
            <ion-icon name="move"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>