<ion-header>
    <ion-toolbar>

        <img src="assets/img/headgestion.png">
    </ion-toolbar>
</ion-header>

<div class="menu-principal">
    <img src="assets/img/ebco.jpg">
    <ion-title class="title">USUARIO: <a> {{ nombre }}</a> </ion-title>
    <img routerLink="/profile" class="button" src="assets/img/fiscalizacion.png">
    <!-- <img class="button" src="assets/img/noticias.png"> -->
    <img routerLink="/sos" class="button" src="assets/img/sos.png">
    <img (click)="CerrarSesion()" class="button" src="assets/img/cerrarsesion.png">
    <img routerLink="/beacon" class="button" src="assets/img/cerrarsesion.png">
    <img class="icon-rs" src="assets/img/iconosredes2.png">
</div>